
<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      ニューノーマル時代の働き方をもっと便利に
    </h2>
    <div class='search-bar-contents'>
    </div>
  </div>
  
  <div class='feature-contents'>
    <h2 class='title'>
      About CoworkingSpot
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <h3 class='feature-list-text'>
          リモートワーク・勉強に最適な場所を見つけよう
        </h3>
        <div class = "feature-image">
          <%= image_tag "/images/coworking.png", class: "feature-pic" %>
        </div>
        <p class='feature-list-description'>
          都内のコワーキングスペースをMAP上で一覧表示！
          近くのコワーキングスペースを簡単に見つけられます。
        </p>
      </li>
      <li class='list'>
        <h3 class='feature-list-text'>
          リアルなクチコミ
        </h3>
        <div class = "feature-image">
          <%= image_tag "/images/review.png", class: "feature-pic" %>
        </div>
        <p class='feature-list-description'>
          お店の雰囲気・ネット環境・店内設備などリアルなクチコミを掲載。
        </p>
      </li>
    </ul>
  </div>
  
  <div class='item-contents'>
    <h2 class='favorite-list-title'>ピックアップスポット</h2>
    <ul class='item-lists'>
    <% @random.each_with_index do |r, i| %>
      <li class='list'>
        <div class='item-img-content'>
        </div>
        <div class='spot-info'>
          <h3 class='spot-name'>
            <%= link_to r.shop_name, spot_path(r)  %>
          </h3>
          <h3 class='spot-review-<%= i %>'>
          <% if r.reviews.exists? %>
            <% r.reviews.average(:overall_evaluation).round(1) %>
          <% end %>
          </h3>
          <div class='spot-address'>
            <span><%= r.address %></span>
          </div>
        </div>
        </li>
          <% if r.reviews.exists? %>
            <script>
              $('.spot-review-<%= i %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= r.reviews.average(:overall_evaluation).round(1) %>,
              })
            </script> 
          <% end %>
    <% end %>

      <li class='list'>
        <%= link_to '#' do %>
        <div class='spot-info'>
          <h3 class='spot-name'>
            店舗名
          </h3>
          <div class='star-btn'>
              <%= "レビュー平均点" %>
          </div>
          <div class='spot-address'>
            <span>住所</span>
          </div>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>



<%#　Google Mapの表示 %>

<div id='map'></div>
<style>
#map{
  height: 700px;
}
</style>

<script>
function initMap(){
  var capital = {lat: 35.68123620000001, lng:139.7671248};
  var mapArea = document.getElementById('map');
  var mapOptions = {
    center: capital,
    zoom: 14,
  };
  var map = new google.maps.Map(mapArea, mapOptions);
  
  <% @spots.each do |spot| %>
  (function(){
    var markerLatLng = new google.maps.LatLng({lat: <%= spot.latitude %>, lng: <%= spot.longitude %>}); 
    

    var contentString = '<div id="content">'+
          '<div id="bodyContent">'+ 
          '<%= link_to "#{spot.shop_name}", spot_path(spot), data: {"turbolinks" => false} %>'+
          '</div>';
  
    var marker = new google.maps.Marker({
      position: markerLatLng,
      map: map, 
      // icon: {
      //   url: 'spot-icon.png',
      //   scaledSize: new google.maps.Size(40, 40), //マーカーのサイズを縮小
      //   anchor: new google.maps.Point(20, 65) //マーカーの表示位置を25pxだけ上に
		  // } 
      }); 
 
    var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
      position: markerLatLng,
      content: contentString // 吹き出しに表示する内容
    });
    marker.addListener('mouseover', function() { 
      infoWindow.open(mapArea, marker); 
    });
  })();
  <% end %>
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key= <%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
<%#　Google Mapの表示 %>

<%= render "shared/footer" %>









