
<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      ニューノーマル時代の働き方を<br>もっと便利に
    </h2>
    <div class='search-bar-contents'>
      <%= search_form_for @p, url: search_path do |f| %>
        <%= f.search_field :shop_name_or_address_or_access_cont, placeholder: " お気に入りの場所を見つけよう", class: "search-form", required: true%>
        <%= f.submit '検索', class: "search-btn" %>
      <% end %>
    </div>
  </div>

  <div class='feature-contents'>
    <h2 class='title'>
      About Coworking Spot
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <h3 class='feature-list-text'>
          リモートワーク・勉強に最適な<br>場所を見つけよう
        </h3>
        <div class = "feature-image">
          <%= image_tag "/images/coworking.png", class: "feature-pic" %>
        </div>
        <p class='feature-list-description'>
          東京近郊のコワーキングスペースをマップ上で一覧表示！
          近くのコワーキングスペースを簡単に見つけられます。
        </p>
      </li>
      <li class='list'>
        <h3 class='feature-list-text'>
          リアルなクチコミ
        </h3>
        <div class = "feature-image">
          <%= image_tag "/images/review.png", class: "feature-pic" %>
        </div>
        <p class='feature-list-description'>
          お店の雰囲気・ネット環境・店内設備などリアルなクチコミを掲載。
        </p>
      </li>
    </ul>
  </div>
  
  <div class='spot-contents'>
    <h2 class='ranking-title'>人気コワーキングスペースランキング</h2>
    <ul class='spot-lists'>
    <% @ranked_top5.each_with_index do |r, i| %>
      <li class='list'>
        <div class='spot-img-content'>
        </div>
        <div class='spot-info'>
          <div class = "ranked-spot-image">
            <%if r.img.exist? %>
             <%= image_tag r.img %>
            <% else %>
             <%= image_tag 'spot-sample-icon.png', class: 'spot-sample' %>
            <% end %>
          </div>
          <h3 class='spot-name'>
            <%= image_tag 'ranking.png', class: 'rank-icon' %>
            <%= link_to r.shop_name, spot_path(r)  %>
          </h3>
          <h3 class='spot-review-<%= i %>'>
          <% if r.reviews.exists? %>
            <% r.reviews.average(:overall_evaluation).round(1) %>
          <% end %>
          </h3>
          <div class='spot-address'>
            <span><%= r.address %></span>
          </div>
        </div>
        </li>
          <% if r.reviews.exists? %>
            <script>
              $('.spot-review-<%= i %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= r.reviews.average(:overall_evaluation).round(1) %>,
              })
            </script> 
          <% end %>
    <% end %>
    </ul>
  </div>
</div>

<%= render partial: "shared/google_map", locals: { marker_spots: @spots, first_spot: @first_spot }%>

<%= render "shared/second_footer" %>
<%= render "shared/footer" %>









