
<%= render "devise/shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      行きたいお店を探す
    </h2>
    <div class='search-bar-contents'>
    <%# <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %> 
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードを入力'>
      <button class="search-button">
        <%# <%= image_tag "search.png", class:"search-icon" %> 
      </button>
    </form>
  </div>
  <div class='nav'>
    <%# <p class='service-explain'>
      FURIMAはだれでもかんたんに出品・購入できる
    </p> %>
    <%# <p class='service-explain'>
      フリマアプリです
    </p> %>
    <div class='store-btn'>
      <%# <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %> 
      <%#= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>


  <%# 画面中央の「会員数日本一位」帯部分 %>
  <%# <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      FURIMAは、フリマアプリで最も人気。
    </p>
    <p class='ad-explain'>
      出品・購入回数も業界最多です！
    </p>
    <p class='ad-explain'>
      ほしかったあの商品に出会えるかもしれません。
    </p>
    <div class='store-btn'> %>
      <%#= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%#= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>人気コワーキングカフェランキング</h2>
    <ul class='item-lists'>
    <% @random.each_with_index do |r, i| %>
      <li class='list'>
        <div class='item-img-content'>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= r.shop_name %>
          </h3>
          <h3 class='spot-review-<%= i %>'>
            <%= r.reviews.average(:overall_evaluation).round %>
          </h3>
          <div class='item-price'>
            <span><%= r.address %></span>
          </div>
        </div>
        </li>
      
    <script>
      $('.spot-review-<%= i %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= r.reviews.average(:overall_evaluation).round %>,
      });
     </script> 
     
     <% end %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%#= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            店舗名
          </h3>
          <div class='item-price'>
            <span>"住所など"</span>
          </div>
          <div class='star-btn'>
              <%= "レビュー平均点" %>
            </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>



<%#　Google Mapの表示 %>
<h2>東京都内のカフェ</h2>
<div id='map'></div>

<style>
#map{
  height: 600px;
}
</style>

<script>

function initMap(){
  var capital = {lat: 35.68123620000001, lng:139.7671248};
  var mapArea = document.getElementById('map');
  var mapOptions = {
    center: capital,
    zoom: 14,
  };
  var map = new google.maps.Map(mapArea, mapOptions);
    
  //解説2：変数 markerOptions
  
  <% @spots.each do |spot| %>
  (function(){
    var markerLatLng = new google.maps.LatLng({lat: <%= spot.latitude %>, lng: <%= spot.longitude %>}); 
    

    var contentString = '<div id="content">'+
          '<div id="bodyContent">'+ 
          '<%= link_to "#{spot.shop_name}", spot_path(spot) %>'+
          '</div>';
  
    var marker = new google.maps.Marker({
      position: markerLatLng,
      map: map
      }); 
 
    var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
      position: markerLatLng,
      content: contentString // 吹き出しに表示する内容
    });
    marker.addListener('mouseover', function() { 
      infoWindow.open(mapArea, marker); 
    });
  })();
  <% end %>
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key= <%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
<%#　Google Mapの表示 %>

<%= render "shared/footer" %>









