<%= render "shared/header" %>

<div class = 'search-result-bar'>
  <% if @results.exists? %>
  <div class = 'searched-spots-title'>
    <%= "#{@results.length}件のコワーキングスペースが見つかりました" %>
  </div>
  <div class = "searched-lists">
      <% @results.each do |result| %>
        <div class = "searched-spot-detail">
          <div class = "searched-spot-image">
            <%= image_tag 'spot-sample-icon.png', class: 'spot-sample'%>
          </div>
          <div class = "searched-spot-name">
            <%= link_to result.shop_name, spot_path(result) %>
          </div>
          <div class = "searched-spot-address">
            <%= result.address %>
          </div>
        </div>
      <% end %>
  </div>




  <% if @first_result.present? %>
    var capital = {lat: <%= @first_result.latitude %>, lng: <%= @first_result.longitude %>};
  <% else %>
    var capital = {lat: 35.68123620000001, lng:139.7671248};
  <% end %>

  <%= render partial: "shared/google_map", locals: { marker_spots: @spots }%>
 
  <div class = "no-result-message">
    <%= "一致する情報がヒットしませんでした" %></br>
    <%= link_to "トップページに戻る", root_path, class: "click-btn" %>
  </div>
 

</div>

<%= render "shared/footer" %>