<%= render "shared/header" %>

<div class = 'search-result-bar'>
  <% if @results.exists? %>
    <div class = 'searched-spots-title'>
      <%= "#{@results.length}件のコワーキングスペースが見つかりました" %>
    </div>
    <div class = "searched-lists">
      <% @results.each do |result| %>
        <div class = "searched-spot-detail">
          <div class = "searched-spot-image">
            <%= image_tag 'spot-sample-icon.png', class: 'spot-sample'%>
          </div>
          <div class = "searched-spot-name">
            <%= link_to result.shop_name, spot_path(result) %>
          </div>
          <div class = "searched-spot-address">
            <%= result.address %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class = "no-result-message">
      <%= "一致する情報がヒットしませんでした" %></br>
      <%= link_to "トップページに戻る", root_path, class: "click-btn" %>
    </div>
  <% end %>
</div>

<%= render partial: "shared/google_map", locals: { marker_spots: @results, first_spot: @first_result}%>
  

<%= render "shared/footer" %>