

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%# <%= @hoge %> 
    </h2>
    <div class='item-img-content'>  
      
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%# ¥ <%= @hoge %>
      </span>
      <span class="item-postage">
        <%# <%= @hoge %> 
      </span>
    </div>


    <div class="item-explain-box">
      <span><%= "店舗情報" %></span>
    </div>
    
    <table class="detail-table">
      <tbody>
      <% if @spot.reviews.present? %>
        <tr>
          <th class="detail-item">クチコミ評価</th>
          <td class="average-review-rating-<%= @spot.reviews.average(:overall_evaluation).round %>"></td>
        </tr>
      <% end %>
        <tr>
          <th class="detail-item">店舗</th>
          <td class="detail-value"><%= @spot.shop_name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @spot.address %></td>
        </tr>
        <tr>
          <th class="detail-item">営業時間</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">定休日</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">電話番号</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
    <% if @spot.favorited_by?(current_user, @spot) %>
      <div class="favorite-btn"> 
        <%= link_to "お気に入りから外す", spot_favorites_path(@spot), method: :delete %>
      </div>
    <% else %> 
      <div class="favorite-btn">
      <%= link_to "お気に入り登録", spot_favorites_path(@spot), method: :post %>
      </div>
    <% end %> 
    <div class="comment-box">
      <%= link_to "口コミ投稿する", new_spot_review_path(spot_id: @spot) %>
    </div>
    </div>

    <script>
      $('.average-review-rating-<%= @spot.reviews.average(:overall_evaluation).round %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @spot.reviews.average(:overall_evaluation).round %>,
      });
    </script>  
  
    <div class="reviews-box">
    <h4>＜クチコミ一覧＞</h4>
    <% @reviews.each_with_index do |review, index| %>
    　　　<% if @spot.id == review.spot_id %>
         <p>
          <strong><%= link_to review.user.nickname, "#" %></strong>
          <div class = "overall-evaliation-<%= index %>"><%= review.overall_evaluation %></div>
          <div class = "comment-<%= index %>"><%= review.comment %></div>
          <div class = "atmosphere-<%= index %>"><%= review.atmosphere %></div>
          <div class = "network_stability-<%= index %>"><%= review.network_stability %></div>
          <div class = "facility-<%= index %>"><%= review.facility %></div>
          <div class = "congestion-<%= index %>"><%= review.congestion %></div>
          <div class = "corona_countermeasure-<%= index %>"><%= review.corona_countermeasure %></div>
          <%= "----------------" %>
        </p>
          <% if review.user_id == current_user.id %>
            <%= link_to "編集", edit_spot_review_path(@spot) %>
            <%#= link_to "削除",  %>
          <% end %> 
        <% end %>

  <script>
      $('.overall-evaliation-<%= index %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.overall_evaluation %>,
      });
    </script> 
    <script>
      $('.atmosphere-<%= index %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.atmosphere %>,
      });
    </script> 
    <script>
      $('.network_stability-<%= index %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.network_stability %>,
      });
    </script> 
    <script>
      $('.facility-<%= index %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.facility %>,
      });
    </script> 
    <script>
      $('.congestion-<%= index %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.congestion %>,
      });
    </script> 
    <script>
      $('.corona_countermeasure-<%= index %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.corona_countermeasure %>,
      });
    </script> 

    <% end %>
    
    
  </div> 

  </div>
</div>

<%= render "shared/footer" %>