<%= render "shared/header" %>

<div class="spot-show">
    <div class="spot-explain-box">
      <span><%= "店舗情報" %></span>
    </div>
    
    <table class="detail-table">
      <tbody>
      <div class = "shop_img">
        <% if @spot.img.exist? %>
          <%= image_tag @spot.img, class: 'shop-image' %>
        <% else %>
          <%= image_tag 'spot-sample-icon.png', class: 'shop-image' %>
        <% end %>
      </div>
      <% if @spot.reviews.present? %>
        <tr>
          <th class="detail-spot">クチコミ評価</th>
          <td id = "average-review", class="average-review-rating-<%= @spot.reviews.average(:overall_evaluation).round %>"></td>
        </tr>
      <% end %>
        <tr>
          <th class="detail-spot">店舗</th>
          <td class="detail-value"><%= @spot.shop_name %></td>
        </tr>
        <tr>
          <th class="detail-spot">住所</th>
          <td class="detail-value"><%= @spot.address %></td>
        </tr>
        <tr>
          <th class="detail-spot">アクセス</th>
          <td class="detail-value"><%= @spot.access %></td>
        </tr>
        <tr>
          <th class="detail-spot">営業時間</th>
          <td class="detail-value"><%= @spot.opening_hours %></td>
        </tr>
        <tr>
          <th class="detail-spot">電話番号</th>
          <td class="detail-value"><%= @spot.phone_number %></td>
        </tr>
        <tr>
          <th class="detail-spot">地図</th>
          <td class="detail-map"><%= render partial: "shared/spot_google_map", locals: { spot: @spot } %></td>
        </tr>
      </tbody>
    </table>

    <div class="option">
    <% if @spot.favorited_by?(current_user, @spot) %>
      <div class="favorite-btn"> 
        <%= link_to "お気に入りから外す", spot_favorites_path(@spot), method: :delete %>
      </div>
    <% else %> 
      <div class="favorite-btn">
        <%= link_to spot_favorites_path(@spot), method: :post do %>
          <%= image_tag "heart.png", class: "btn-img" %>
          お気に入り登録
         <% end %>
      </div>
    <% end %> 
      <div class="comment-box">
        <%= link_to new_spot_review_path(spot_id: @spot) do %>
          <%= image_tag "pencil.png", class: "btn-img" %>
          クチコミ投稿する
        <% end %>
      </div>
    </div>

    <% if @spot.reviews.exists? %>
    <script>
      $('.average-review-rating-<%= @spot.reviews.average(:overall_evaluation).round %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @spot.reviews.average(:overall_evaluation).round(1) %>,
      });
    </script>  
    <% end %>
  
    <div class="reviews-box">
    <% @reviews.each_with_index do |review, index| %>
      <div class = "review-box-left">
        <% if review.user.avatar.attached? %>
          <%= image_tag review.user.avatar, alt: 'ユーザー画像', class: 'user-avatar' %>
        <% else %>
          <%= image_tag 'user-avatar.png', alt: 'ユーザー画像', class: 'user-avatar' %>
        <% end %>
        <span class = "nickname"><%= link_to review.user.nickname, user_path(review.user) %></span>
      </div>
        
      <div class = "review-box-right">
        <div id = "overall_evaluation", class = "overall-evaliation-<%= index %>">総合評価　　<% review.overall_evaluation %></div>
        <div id = "comment", class = "comment-<%= index %>"><%= review.comment %></div>
        <div class = "atmosphere-<%= index %>">雰囲気　　　<% review.atmosphere %></div>
        <div class = "network_stability-<%= index %>">ネット環境　<% review.network_stability %></div>
        <div class = "facility-<%= index %>">店内設備　　<% review.facility %></div>
        <div class = "congestion-<%= index %>">混雑度　　　<% review.congestion %></div>
        <div class = "corona_countermeasure-<%= index %>">コロナ対策　<% review.corona_countermeasure %></div>
        <% if user_signed_in? %>
          <% if review.user_id == current_user.id %>
            <%= link_to "クチコミを編集", edit_spot_review_path(@spot.id, review.id), class: "fix-btn" %>
             <%= link_to "クチコミを削除", spot_review_path(@spot.id, review.id), method: :delete, class: "fix-btn" %>
          <% end %> 
        <% end %>
      </div>
 
  <script>
        $('.overall-evaliation-<%= index %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.overall_evaluation %>,
        })
        $('.atmosphere-<%= index %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.atmosphere %>,
        })
        $('.network_stability-<%= index %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.network_stability %>,
        })
        $('.facility-<%= index %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.facility %>,
        })
        $('.congestion-<%= index %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.congestion %>,
        })
        $('.corona_countermeasure-<%= index %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.corona_countermeasure %>,
        })
  </script> 
  <% end %>
</div> 
  
<%= render "shared/second_footer" %>
<%= render "shared/footer" %>
