<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%# <%= @hoge %> 
    </h2>
    <div class='item-img-content'>
      <%# <%= image_tag @item.image ,class:"item-box-img" %> 
  
      
      
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%# ¥ <%= @hoge %>
      </span>
      <span class="item-postage">
        <%# <%= @hoge %> 
      </span>
    </div>

  

    <div class="item-explain-box">
      <span><%= "店舗情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @spot.shop_name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @spot.address %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
    <% if @spot.favorited_by?(current_user, @spot) %>
      <div class="favorite-btn">
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%> 
        <%= link_to "お気に入りから外す", spot_favorites_path(@spot), method: :delete %>
      </div>
    <% else %> 
      <%= link_to "お気に入り登録", spot_favorites_path(@spot), method: :post %>
    <% end %> 
    <div class="comment-box">
      <%= link_to "クチコミ投稿する", new_spot_review_path(@spot) %>
    </div>
    </div>
  </div>


  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  
  <a href=“#” class=‘another-item’><%= "test" %>をもっと見る</a>
  
</div>

<%= render "shared/footer" %>



