

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%# <%= @hoge %> 
    </h2>
    <div class='item-img-content'>  
      
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%# ¥ <%= @hoge %>
      </span>
      <span class="item-postage">
        <%# <%= @hoge %> 
      </span>
    </div>


    <div class="item-explain-box">
      <span><%= "店舗情報" %></span>
    </div>
    
    <table class="detail-table">
      <tbody>
      <% if @spot.reviews.present? %>
        <tr>
          <th class="detail-item">クチコミ評価</th>
          <td class="average-review-rating-<%= @spot.reviews.average(:overall_evaluation).round %>"></td>
        </tr>
      <% end %>
        <tr>
          <th class="detail-item">店舗</th>
          <td class="detail-value"><%= @spot.shop_name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @spot.address %></td>
        </tr>
        <tr>
          <th class="detail-item">営業時間</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">定休日</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">電話番号</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
    <% if @spot.favorited_by?(current_user, @spot) %>
      <div class="favorite-btn"> 
        <%= link_to "お気に入りから外す", spot_favorites_path(@spot), method: :delete %>
      </div>
    <% else %> 
      <div class="favorite-btn">
      <%= link_to "お気に入り登録", spot_favorites_path(@spot), method: :post %>
      </div>
    <% end %> 
    <div class="comment-box">
      <%= link_to "口コミ投稿する", new_spot_review_path(spot_id: @spot) %>
    </div>
    </div>

    <script>
      $('.average-review-rating-<%= @spot.reviews.average(:overall_evaluation).round %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @spot.reviews.average(:overall_evaluation).round %>,
      });
    </script>  
  
    <div class="reviews-box">
    <h4>＜クチコミ一覧＞</h4>
    <% @reviews.each do |review| %>
         <p>
          <strong><%= link_to review.user.nickname, "#" %></strong>
          <div class = "detail-review01"><%= review.overall_evaluation %></div>
          <div class = "detail-review02"><%= review.comment %></div>
          <div class = "detail-review03"><%= review.atmosphere %></div>
          <div class = "detail-review04"><%= review.network_stability %></div>
          <div class = "detail-review05"><%= review.facility %></div>
          <div class = "detail-review06"><%= review.congestion %></div>
          <div class = "detail-review07"><%= review.corona_countermeasure %></div>
        </p>
    

  <script>
      $('.detail-review01').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.overall_evaluation %>,
      });
    </script> 
    <script>
      $('.detail-review02).raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.atmosphere %>,
      });
    </script> 
    <script>
      $('detail-review03').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.network_stability %>,
      });
    </script> 
    <% end %>
  </div> 

  </div>
</div>

<%= render "shared/footer" %>