<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%# <%= @hoge %> 
    </h2>
    <div class='item-img-content'>
      <%# <%= image_tag @item.image ,class:"item-box-img" %> 
  
      
      
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%# ¥ <%= @hoge %>
      </span>
      <span class="item-postage">
        <%# <%= @hoge %> 
      </span>
    </div>

  

    <div class="item-explain-box">
      <span><%= "店舗情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @spot.shop_name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @spot.address %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
        <tr>
          <th class="detail-item">test</th>
          <td class="detail-value"><%= "test" %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%> 
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%# <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%> 
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%# <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%> 
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  
  <a href=“#” class=‘another-item’><%= "test" %>をもっと見る</a>
  
</div>

<%= render "shared/footer" %>
