<%= render "shared/header" %>

<div class = "user-info-box">
  <div class = "favorite-lists-title"><%= @user.nickname %>さんのお気に入り一覧</div>
  <div class = "favorite-lists">
  <div class="favorite-lists">
  <div class = "favorite-lists-content"></div>
    <% if @favorites.present?%>
      <% @favorites.each do |favorite| %>
        <div class = "favorite-detail">
          <div class = "favorite-spot-name">
            <p><%= link_to favorite.spot.shop_name, spot_path(favorite.spot) %></p>
          </div>
          <div class = "favorite-spot-image">
            <%if favorite.spot.img.exist? %>
             <%= image_tag spot.img %>
            <% else %>
             <%= image_tag 'spot-sample-icon.png', class: 'spot-sample' %>
            <% end %>
          </div>
        </div>
      <% end  %>
    <% else %>
      <div class ="no-favorite-message">
        <%= "お気に入りはまだありません。" %>
      </div>
    <% end %>
  </div>
  </div>

  <div class = "review-lists-title"><%= @user.nickname %>さんのクチコミ一覧</div>
　<div class = "review-lists">
    <div class = "review-lists-content"></div>
    <% if @reviews.present? %>
      <% @reviews.each_with_index do |review, index| %>
        <% if review.user_id == current_user.id %>
        <% review_exists = true %>
        <div class = "review-detail">
          <p><%= link_to review.spot.shop_name, spot_path(review.spot) %></p>
          <p class = "user-detail-overall_evaluation-<%= index %>"><% review.overall_evaluation %></p>
   
        <script>
          $('.user-detail-overall_evaluation-<%= index %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.overall_evaluation %>,
          });
        </script> 

        </div>
        <% end %>
      <% end %>

    <% else %>
    　<div class ="no-review-message">
        <%= "クチコミはまだありません。" %>
      </div>
    <% end %>
    </div>
  </div>
  
</div>


<%= render "shared/footer" %>