<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
  <h2 class='ad-footer-title'>
  </h2>
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("/images/apple_store.svg",class:"apple-btn"), "#" %>
    <%= link_to image_tag("/images/google-play-badge.png",class:"google-btn"), "#" %>
  </div>
</div>

<div class='footer'>
  <div class='footer-contents'>
    <div class='spot-details'>
      <h2 class='footer-content-head'>Coworking Spotについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
  
    <div class='spot-details'>
      <h2 class='footer-content-head'>Coworking Spotについて</h2>
      <ul>
        <li><%= link_to 'CoworkingSpotガイド', "#", class: "footer-link" %></li>
        
        <li><%= link_to 'CoworkingSpotロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© CoworkingSpot</p>
</div>