<%= render "shared/header" %>

<div class = "review-submit-box">
  <div class= "page-title">
    クチコミ編集
  </div>

<%= render 'shared/review_error_messages', model: @review %>

<%= form_with model: @review, url: spot_review_path(spot_id: @spot), method: :patch, local: true do |f| %>

  <div class="info_form">
  <div class = "main-form">
    <div class = "shop_info">
      <%= "店舗名　　#{@spot.shop_name}" %> 
    </div>  
    <div id="evaluate_stars">
      <%= f.label :overall_evaluation,'総合評価　', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :overall_evaluation, class:'col-md-3 col-form-label' %>
    </div>
    <div class = "review-explain">※適切なところで星マークをクリックしてください</div>

    <div class="comment_form">
      <%= f.label :comment, 'コメント ',class: "comment-control" %>
      <%= f.text_area :comment, class: "form-control", rows: "8", placeholder:'まずは投稿してみましょう！' %>
    </div> 
  </div>
  <div class = "sub-form">
    <div class = "sub_form-title">詳細評価</div>
    <div class = "review-explain">※適切なところで星マークをクリックしてください</div>
      <div id="detail_evaluate_stars01">
        <%= f.label :atmosphere,'雰囲気　　', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :atmosphere, class:'col-md-3 col-form-label' %>
      </div>
      <div id="detail_evaluate_stars02">
        <%= f.label :facility,'店内設備　', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :facility, class:'col-md-3 col-form-label' %>
      </div>
      <div id="detail_evaluate_stars03">
        <%= f.label :network_stability,'ネット環境', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :network_stability, class:'col-md-3 col-form-label' %>
      </div>
      <div id="detail_evaluate_stars04">
        <%= f.label :congestion,'混雑度　　', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :congestion, class:'col-md-3 col-form-label' %>
      </div>
      <div id="detail_evaluate_stars05">
        <%= f.label :corona_countermeasure,'コロナ対策', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :corona_countermeasure, class:'col-md-3 col-form-label' %>
      </div>
      <div class="submit-btn">
        <%= f.submit '更新する', class:"btn btn-success" %>
      </div>  
  <% end %>
  </div>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[overall_evaluation]' 
  });
  $('#detail_evaluate_stars01').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[atmosphere]' 
  });
  $('#detail_evaluate_stars02').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[facility]' 
  });
  $('#detail_evaluate_stars03').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[network_stability]' 
  });
  $('#detail_evaluate_stars04').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[congestion]' 
  });
  $('#detail_evaluate_stars05').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[corona_countermeasure]' 
  });
</script>
</div>

<%= render "shared/footer" %>



