<%= render "shared/header" %>

<div class = "review-submit-box">
  <div class = "breadcrumb">
    <% breadcrumb :reviews %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>
  <div class= "page-title">
    クチコミ編集
  </div>

<%= render 'shared/review_error_messages', model: @review %>

<%= form_with model: @review, url: spot_review_path(spot_id: @spot), method: :patch, local: true do |f| %>
  <%= render partial: 'shared/review_form', model: @review, locals: {f: f} %>
<% end %>

<%= render "shared/footer" %>



