<%= render "shared/header" %>

<div class = "review-submit-box">
  <div class= "page-title">
    クチコミ投稿
  </div>

  <%= render 'shared/review_error_messages', model: @review %>

  <%= form_with model: @review, url: spot_reviews_path(spot_id: @spot), method: :post, local: true do |f| %>
    <%= render partial: 'shared/review_form', model: @spot, locals: {f: f} %>
  <% end %>

<%= render "shared/footer" %>


