

<div class= "page-title">
  <h1>レビュー投稿</h1>
</div>

<%= form_with(model: @review, local: true) do |f| %>
  <%# <div class="form-group row">
    <%= f.label :shop_name, '店名', class:'shop_name' %> 
      <%# <%= f.text_field :shop_name, class: "form-control" %> 
  <%# </div>   %>


  <div id="evaluate_stars">
    <%= f.label :star,'総合評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :evaluate_stars %>
  </div>

  <!-- 口コミ -->
  <div class="form-group row">
    <div class="col-md-9"> 
      <%= f.text_area :comment, class: "form-control", rows: "8", placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div> 
  </div> 


<h2>詳細評価</h2>
  <div id="detail_evaluate_stars01">
    <%= f.label :star,'雰囲気 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :detail_evaluate_stars01 %>
  </div>

  <div id="detail_evaluate_stars02">
    <%= f.label :star,'店内設備・清潔さ ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :detail_evaluate_stars02 %>
  </div>

  <div id="detail_evaluate_stars03">
    <%= f.label :star,'インターネット環境 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :detail_evaluate_stars03 %>
  </div>

  <div id="detail_evaluate_stars04">
    <%= f.label :star,'混雑度 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :detail_evaluate_stars04 %>
  </div>

  <div id="detail_evaluate_stars05">
    <%= f.label :star,'コロナ対 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :detail_evaluate_stars05 %>
  </div>

　<!--  客層の評価は必要あれば追加で実装（genre_idカラムは不要であれば削除） -->
  <%# <div class="form-group row"> %>
    <%# <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %> 
  <%# </div> %>

  <div class="form-group row justify-content-end">
    <div class="col-md-9">
       <%= f.submit '投稿する', class:"btn btn-success" %>
    </div>  
  </div> 
<% end %>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[overall_evaluation]' //登録するモデル名とカラム名を記述
  });

  $('#detail_evaluate_stars01').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[atmosphere]' //登録するモデル名とカラム名を記述
  });

  $('#detail_evaluate_stars02').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[facility]' //登録するモデル名とカラム名を記述
  });

  $('#detail_evaluate_stars03').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[network_stability]' //登録するモデル名とカラム名を記述
  });

  $('#detail_evaluate_stars04').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[congestion]' //登録するモデル名とカラム名を記述
  });

  $('#detail_evaluate_stars05').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[corona_countermeasure]' //登録するモデル名とカラム名を記述
  });
</script>



<!-- /口コミ入力フォーム -->





