

<div class= "page-title">
  <h1>レビュー投稿</h1>
</div>

<%= form_with(model: @review, local: true) do |f| %>
  <%# <div class="form-group row">
    <%= f.label :shop_name, '店名', class:'shop_name' %> 
      <%# <%= f.text_field :shop_name, class: "form-control" %> 
  <%# </div>   %>


  <div id="evaluate_stars">
    <label>総合評価</label>
  </div>

  <!-- 口コミ -->
  <div class="form-group row">
    <div class="col-md-9"> 
      <%= f.text_area :comment, class: "form-control", rows: "8", placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div> 
  </div> 


<h2>詳細評価</h2>
  <div id="evaluate_stars">
    <label>雰囲気</label>
  </div>

  <div id="evaluate_stars">
    <label>ネット環境</label>
  </div>

  <div id="evaluate_stars">
    <label>店内設備・清潔さ</label>
  </div>

  <div id="evaluate_stars">
    <label>混雑度</label>
  </div>

  <div id="evaluate_stars">
    <label>コロナ対策</label>
  </div>

　<!--  客層の評価は必要あれば追加で実装（genre_idカラムは不要であれば削除） -->
  <%# <div class="form-group row"> %>
    <%# <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %> 
  <%# </div> %>

  <div class="form-group row justify-content-end">
    <div class="col-md-9">
       <%= f.submit '投稿する', class:"btn btn-success" %>
    </div>  
  </div> 
<% end %>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'movie[evaluation]' //登録するモデル名とカラム名を記述
  });
</script>



<!-- /口コミ入力フォーム -->







